
.header {
    background-color: #aa2020;
    padding: 10px;
    color: #ffffff;
    border: 4px solid #aa2020;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
h2, h3 {
    text-align: center;
}

.card {
    width: 15%;
    height: 10%;
    border: 4px solid #000;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 25px;
    font-weight: bold;
    min-width: 300px; 
    text-align: center;
}

.card img {
    width: 100%;
    height: 40%;
}
.card p{
    text-align: center;
}
.card button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid #000;
    transition: 1s;
}

.card button:hover {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #aa2020;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid #aa2020;
    border-radius: 10px;
    transition: 1s;
}