body {
    background-color: #f2fcff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #32347c;
    padding: 10px;
}

.header a {
    color: #ffffff;
    margin: 10px;
}

.content {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ebebeb;
    padding-left: 15px;
    padding-top: 30px;
}

.content li {
    padding-top: 5px;
}

.title1 {
    color: #0e1877;
    font-size: 23px;
    font-weight: bold;
}

.title2 {
    color: #0e1877;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.title2List ol,
ul {
    padding-left: 15px;
}

.title3 {
    color: #000;
    font-weight: bold;
    background-color: #e9e6e6;
}

.wayTable {
    border-collapse: collapse;
    background-color: #fffefe;
}

.wayTable td,
th {
    padding: 10px;
    border: 2px solid #f0f0f0;
}

.imgK {
    background-image: url("PicK.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.imgA {
    background-image: url("PicA.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.imgB {
    background-image: url("PicB.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.form {
    font-weight: bold;
    margin: 25px 0 20px 0;
}

.form input,
label {
    display: flex;
    flex-direction: column;
}

.formWidth {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.button {
    background-color: #32347c;
    color: #ffffff;
    margin: 20px 0 20px 0;
    padding: 10px 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ebebeb;
}

.button-container {
  display: flex;
  gap: 10px; /* Расстояние между кнопками */
  align-items: center; /* Вертикальное выравнивание по центру */
}

.button:hover {
    background-color: #fff;
    color: #32347c;
    margin: 20px 0 20px 0;
    padding: 10px 10px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ebebeb;
    transition: 1s;
}



.footer {
    background-color: #32347c;
    color: #ffffff;
    padding: 30px;
    text-align: center;

}